doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='styles/app.css')
        meta(charset='UTF-8')
        title MinGrad
        script(src='build/d3.min.js')
        script(src='build/react.js')
        script(src='build/react-dom.js')
        script(src='https://unpkg.com/babel-core@5.8.38/browser.min.js')
    body
        #main
        script(type='text/babel', src='scripts/app.js')

