doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='styles/index.css')
        meta(charset='UTF-8')
        title MinGrad
        script(src='build/d3.min.js')
        script(src='build/react.js')
        script(src='build/react-dom.js')
        script(src='build/browser.min.js')
    body
        #main
        script(type='text/javascript').
            window.GLOBALS = window.GLOBALS || {};
            window.GLOBALS.response_data =!{JSON.stringify(data)}
        script(type='text/babel', src='scripts/index.js')

